.modal-overlay {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,0.35);

    z-index: 1000;
}



.food-modal {

    width: 450px;

    padding: 30px;

    background: var(--surface);

    border-radius: 25px;

    box-shadow: var(--neo-shadow);

    position: relative;

    text-align: center;
}



.close-btn {

    position: absolute;

    right: 18px;
    top: 18px;

    width: 35px;
    height: 35px;

    border: none;

    border-radius: 50%;

    background: var(--surface);

    box-shadow: var(--neo-shadow);

    cursor: pointer;

    font-size: 18px;
}



.modal-image {

    width: 100px;
    height: 100px;

    border-radius: 20px;

    object-fit: cover;

    margin-bottom: 15px;
}



.food-modal h2 {

    margin-bottom: 5px;

}



.food-modal > p {

    color: var(--text-secondary);

    margin-bottom: 20px;

}



/* inputs grid */

.form-group {

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 12px 15px;

    text-align: left;

}



.form-group label {

    font-size: 12px;

    color: var(--text-secondary);


}



.form-group input, select{

    width:100%;

    height:42px;

    padding:0 12px;

    border:none;

    outline:none;

    border-radius:12px;

    margin-top: 5px;

    background:var(--surface);

    box-shadow:
        inset 3px 3px 8px rgba(163,177,198,0.25),
        inset -3px -3px 8px rgba(255,255,255,0.8);

}



/* buttons */

.buttons-wrapper {

    display:flex;

    gap:15px;

    margin-top:25px;

}



.buttons-wrapper button {

    flex:1;

    height:45px;

    border:none;

    border-radius:15px;

    font-size:15px;

    font-weight:600;

    cursor:pointer;

    transition: all .3s;
}



.update-btn {
    background:var(--primary);
    color:white;
}



.update-btn:hover {

    background:var(--primary-hover);

}



.delete-btn {

background-color: inherit;
    color:var(--danger);

}



.delete-btn:hover {

    opacity:0.85;
    background-color: rgba(255, 0, 0, 0.05);
}
