

.settings-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}



.settings-div input{
    width: 70%;
    height: 40px;
    padding: 5px 15px;
    border-radius: 10px;
    border: var(--border);
    outline: none;
    box-shadow: var(--neo-shadow);
}

.settings-div button{
    border-radius: 10px;
    width: 12%;
    border: none;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
    background-color: var(--primary);
    align-self: flex-end;
    
}

.change-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    box-shadow: var(--neo-shadow);
    border-radius: 20px;
    padding: 30px;
}

.change-div div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

