.modal-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.35);
    z-index: 1000;
}

.meal-modal {
    width: 420px;
    padding: 30px;
    border-radius: 25px;
    background: var(--surface);
    box-shadow: var(--neo-shadow);
    position: relative;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background: var(--surface);
    box-shadow: var(--neo-shadow);
    cursor: pointer;
}



.modal-image {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 15px;
}



.meal-modal h2 {
    margin-bottom: 5px;
}



.modal-category {
    color: var(--text-secondary);
    margin-bottom: 25px;
}



/* nutrition info */


.meal-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 25px;
}

.meal-info div {
    padding: 15px;
    border-radius: 15px;
    background: var(--surface);
    box-shadow: var(--neo-shadow);
}

.meal-info span {
    display: block;
    font-size: 13px;
    color: var(--text-secondary);
}



.meal-info strong {
    display: block;
    margin-top: 5px;
}



/* amount */


.amount-box {
    text-align: left;
    margin-bottom: 25px;
}


.amount-box label {
    font-size: 13px;
    color: var(--text-secondary);
}

.amount-box input {
    margin-top: 8px;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    padding: 0 15px;
    border-radius: 15px;
    background: var(--surface);
    box-shadow:
        inset 3px 3px 8px rgba(163, 177, 198, 0.25),
        inset -3px -3px 8px rgba(255, 255, 255, 0.8);
}



/* buttons */


.modal-actions {
    display: flex;
    gap: 15px;
}


.modal-actions button {

    flex: 1;

    height: 45px;
    border: none;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;
}

.update-btn {
    background: var(--primary);
    color: white;
    transition: all .5s;
}



.delete-btn {
    background: inherit;
    color: var(--danger);
    transition: all .5s;
}


.update-btn:hover {
    background: var(--primary-hover);
}


.delete-btn:hover {
    opacity: 0.85;
    background-color: rgba(255, 0, 0, 0.1);
}