:root {
    --bg-primary: #e8edf2;

    --surface: #e8edf2;

    --primary: #45c486;

    --primary-dark: #36a86f;


    --text-primary: #1f2937;

    --text-secondary: #6b7280;

    --text-light: #9ca3af;


    --danger: #ef4444;

    /* Neumorphism Shadows */

    --shadow-light:
        -6px -6px 12px rgba(255, 255, 255, 0.8);

    --shadow-dark:
        6px 6px 12px rgba(163, 177, 198, 0.6);


    --neumorphic-shadow:
        var(--shadow-light),
        var(--shadow-dark);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    color: var(--text-primary);
}

html,
body,
#root {
    width: 100%;
    min-height: 100vh;

}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

button{
    cursor: pointer;
}