:root {
    --bg-primary: #f1f4f8;

    --surface: #f8fafc;

    --primary: #45c486;
    --primary-hover: #5ee3a3;

    --primary-dark: #36a86f;


    --text-primary: #1f2937;

    --text-secondary: #6b7280;

    --text-light: #9ca3af;

    --border: 1px solid #45c486;

    --danger: #ef4444;

    /* Neumorphism Shadows */

    --shadow-light:
        -4px -4px 10px rgba(255, 255, 255, 0.7);

    --shadow-dark:
        4px 4px 10px rgba(163, 177, 198, 0.35);


    --neo-shadow:
        var(--shadow-light),
        var(--shadow-dark);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    color: var(--text-primary);
}

html,
body,
#root {
    width: 100%;
    min-height: 100vh;
    
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primary);
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

button{
    cursor: pointer;
}