.login-div {
    width: 550px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 20px;
    box-shadow: var(--neo-shadow);
    background-color: var(--surface);
    padding: 0 15px 25px 15px;

}

.login-div img {
    width: 150px;
    height: 150px;
}

.login-div h1 {
    font-size: 46px;
    font-weight: 900;
    margin-top: -30px;
}

.login-div h2 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}


.input-group {
    position: relative;
    width: 80%
}


.input-group input {

    width: 100%;
    padding: 16px 14px;

    background: var(--surface);

    border: 1px solid transparent;

    border-radius: 14px;

    outline: none;

    color: var(--text-primary);

    box-shadow: var(--neo-shadow);

    font-size: 16px;

    transition: 0.25s ease;
}


.input-group label {

    position: absolute;

    left: 14px;
    top: 50%;

    transform: translateY(-50%);

    color: var(--text-secondary);

    pointer-events: none;

    background: var(--surface);

    padding: 0 5px;

    transition: 0.25s ease;
}

.input-group input:focus+label,
.input-group input:not(:placeholder-shown)+label {

    top: 0;

    font-size: 12px;

    color: var(--primary);

}

.input-group input:focus {
    box-shadow:
        0 0 0 2px rgba(69, 196, 134, 0.25),
        var(--neo-shadow);
}

.login-div button {
    font-size: 18px;
    padding: 10px 45px;
    color: white;
    border-radius: 15px;
    border: none;
    background-color: var(--primary);
    transition: box-shadow .5s,
        background-color .5s
}

.login-div button:hover {
    background-color: var(--primary-hover);
    box-shadow: 0 0 15px 5px #45c48733;
}

